.section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 1.75rem;
}

.cta-cards__container{
    margin: 4rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

@media screen and (max-width:769px) {
    .cta-cards__container{
        flex-direction: column;
    }
}
.cta-card{
    flex: 1;
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.cta-card img{
    width: 8rem;

}
.cta-card__heading{
    color: white;
    font-family: "DM Mono";
    font-weight: 500;
}
.cta-card__description{
    text-align: center;
}
.cta-actions__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


.cta-join{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    margin-top: 4rem;
    gap: 2rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.cta-create{
    padding: 2rem;
}

