.hero{
    margin: auto;
}
.hero-section{
    display: grid;
    padding: 2rem ;
    grid-template-areas: 
        "header hero-card"
        "details hero-card"
        "action hero-card"
        "stats hero-card"

    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,fit-content);
    align-items: center;
    justify-items: flex-start;
    column-gap: 3rem;
    row-gap: 1rem;
}
@media screen and (max-width:769px) {
    .hero-section{
        grid-template-areas: 
            "hero-card"
            "header"
            "details"
            "action"
            "stats";
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-items: center;
            text-align: center;
            row-gap: 2rem;
            padding: 2rem;
        }
        #line-break{
            display: none;
        }
        .hero-section h1{
            font-size: 3rem;
        }
        .hero-section .hero-text{
            font-size: 3rem;
        }
        .card-hero{
            margin: auto;
        }
    }
.card-hero{
    grid-area: hero-card;
}

.hero-section h1{
    grid-area: header;
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 1rem;
}
@media screen and (max-width:900px) {
    .hero-section h1{
        font-size: 2.5rem;
    }
}
.hero-section .hero-txt{
    grid-area: details;
}
.hero-section .bu-primary{
    grid-area: action;
    padding: 1rem 3rem;
}

.hero-stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hero-stats p {
    color: var(--light-gray);
}

.hero-stats h2{
    color: white;
    font-size: 2rem;
}

.hero-partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}
.hero-partners img{
    width: 6rem;}

.card-hero{
    margin-left: auto;
}