.card-nft{
    display: grid;
    grid-template-areas: 
        "main-image main-image"
        "nft-name nft-thumbnails"
        "nft-data nft-data"
    ;
    background-color: var(--card-bg);
    grid-template-rows: repeat(3, fit-content);
    border-radius: 10px;
    padding: 1.5rem;
    gap: .5rem;
    max-width: 400px;
    width: 100%;
}
.card-nft .img-main{
    grid-area: main-image;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1.03;
    object-fit: cover;
}
.card-nft .nft-name{
    font-weight: 500;
    color: white;
    
}

.card-nft .nft{
    grid-area: nft-name;
}

.card-nft .nft-creator{
    font-size: .825rem;
}

.card-nft .nft-thumbnails{
    justify-self: flex-end; 

    display: flex;
    justify-content: flex-end;
}
.card-nft .nft-thumbnail{
    margin-left: -.75rem;   
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.nft-data{
    display: flex;
    justify-content: space-between;
    grid-area: nft-data;
}



/*****************************************************/

.nft-creator{
    font-family: "DM Mono";
    font-weight: 500;
    color: #fff;
    line-height: 2;
    font-size: .825rem;
    display: flex;
    align-items: center;
    padding: .75rem;
    gap: .75rem;
    border-radius: 10px;
    background-color: var(--card-bg);
    width: 100%;
}

.nft-creator__avatar{
    object-fit: cover;
    border-radius: 8px;
    grid-area: avatar;
    max-height: 4rem;
}
.nft-creator__name{
    grid-area: name;
}
.nft-creator__earnings{
    grid-area: earnings;
}
.nft-creator .icon{
    grid-area: icon;
    height: 2rem;
    width: 2rem;
    margin-left: auto;
}